### Class 3

##### 1. Introduction and Importing Necessary Libraries
##### 2. Loading Data from a CSV File
##### 3. Loading Data from an Excel File
##### 4. Exporting Data to a New CSV File
##### 5. Exporting Data to a New Excel File
##### 6. Basic Data Exploration - Overview of DataFrame
##### 7. Basic Data Exploration - Descriptive Statistics
##### 8. Checking for Missing Data
##### 9. Accessing Specific Columns and Rows
##### 10. Filtering Data Based on Conditions
##### 11. Downloading Historical Stock Data from yFinance

###### 1. Introduction and Importing Necessary Libraries

In [1]:
# Import necessary libraries for data handling
# pandas is used for data manipulation and analysis
# openpyxl is used for reading/writing Excel files

import pandas as pd  # Import pandas with the alias 'pd'
import yfinance as yf  # Import yfinance with the alias 'yf'

# In this lesson, we will work with CSV and Excel (XLSX) files.
# Make sure you have installed the required libraries:
# - pandas: pip install pandas
# - openpyxl: pip install openpyxl (needed for Excel files)
# - yfinance: pip install yfinance (download historical data from Yahoo Finance)

###### 2. Loading Data from a CSV File

In [2]:
# Load data from a CSV file
# For this example, we'll assume you have a file named 'top_6_sp500_prices.csv' in the same directory as this notebook.

# The 'read_csv' function reads data from a CSV file and converts it into a DataFrame, which is a table-like data structure.

csv_data = pd.read_csv('top_6_sp500_prices.csv')

# Display the first 5 rows of the data using the 'head()' method
print("First 5 rows of the CSV data:")
csv_data.head()

# Note: If you get an error, make sure that 'top_6_sp500_prices.csv' is in the same directory as this notebook.
# You can also provide the full path to the file if it's located elsewhere.

First 5 rows of the CSV data:

,Date,AAPL,MSFT,GOOGL,AMZN,NVDA,META
0,2024-06-24,208.139999,447.670013,179.220001,185.570007,118.110001,498.910004
1,2024-06-25,209.070007,450.950012,184.029999,186.339996,126.089996,510.600006
2,2024-06-26,213.250000,452.160004,183.880005,193.610001,126.400002,513.119995
3,2024-06-27,214.100006,452.850006,185.410004,197.850006,123.989998,519.559998
4,2024-06-28,210.619995,446.950012,182.149994,193.250000,123.540001,504.220001

In [3]:
type(csv_data)

pandas.core.frame.DataFrame

###### 3.  Loading Data from an Excel File

In [4]:
# Load data from an Excel file
# For this example, we'll assume you have a file named 'top_6_sp500_prices.xlsx' in the same directory as this notebook.

# The 'read_excel' function reads data from an Excel file and converts it into a DataFrame.
excel_data = pd.read_excel('top_6_sp500_prices.xlsx')

# Display the first 5 rows of the data
print("First 5 rows of the Excel data:")
excel_data.head()

# Note: Ensure that 'top_6_sp500_prices.xlsx' is available in the same directory as this notebook.
# You may need to specify the sheet name if your file has multiple sheets: pd.read_excel('top_6_sp500_prices.xlsx', sheet_name='Sheet1')

First 5 rows of the Excel data:

,Date,AAPL,MSFT,GOOGL,AMZN,NVDA,META
0,2024-06-24,208.139999,447.670013,179.220001,185.570007,118.110001,498.910004
1,2024-06-25,209.070007,450.950012,184.029999,186.339996,126.089996,510.600006
2,2024-06-26,213.250000,452.160004,183.880005,193.610001,126.400002,513.119995
3,2024-06-27,214.100006,452.850006,185.410004,197.850006,123.989998,519.559998
4,2024-06-28,210.619995,446.950012,182.149994,193.250000,123.540001,504.220001

In [5]:
csv_data.tail()

,Date,AAPL,MSFT,GOOGL,AMZN,NVDA,META
59,2024-09-17,216.789993,435.149994,159.320007,186.880005,115.589996,536.320007
60,2024-09-18,220.690002,430.809998,159.809998,186.429993,113.370003,537.950012
61,2024-09-19,228.869995,438.690002,162.139999,189.869995,117.870003,559.099976
62,2024-09-20,228.199997,435.269989,163.589996,191.600006,116.000000,561.349976
63,2024-09-23,226.470001,433.510010,161.850006,193.880005,116.260002,564.409973

###### 4.  Exporting Data to a New CSV File

In [6]:
# Export the data to a new CSV file
# We will save the 'csv_data' DataFrame to a new file called 'exported_data.csv'

csv_data.to_csv('exported_data.csv', index=False)  # Set index=False to avoid saving the index as a separate column

print("Data has been exported to 'exported_data.csv'")
# Check the current directory to confirm that the file has been created

Data has been exported to 'exported_data.csv'

###### 5. Exporting Data to a New Excel File

In [7]:
# Export the data to a new Excel file
# We will save the 'excel_data' DataFrame to a new file called 'exported_data.xlsx'

excel_data.to_excel('exported_data.xlsx', index=False)  # Again, set index=False to avoid saving the index

print("Data has been exported to 'exported_data.xlsx'")
# Check the current directory to confirm that the file has been created

Data has been exported to 'exported_data.xlsx'

###### 6. Basic Data Exploration - Overview of DataFrame

In [8]:
# Let's explore the CSV data we loaded earlier in 'csv_data'

# Display the first few rows using the 'head()' method
#print("Displaying the first 5 rows of the CSV data:")
#csv_data.head()

# Display the last few rows using the 'tail()' method
#print("Displaying the last 5 rows of the CSV data:")
#display(csv_data.tail())

# Get a summary of the DataFrame using the 'info()' method
print("DataFrame Information:")
csv_data.info()

# The 'info()' method gives us:
# - The total number of rows and columns
# - The column names and their data types
# - The count of non-null (NaN) values in each column

DataFrame Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    64 non-null     object
 1   AAPL    64 non-null     float64
 2   MSFT    64 non-null     float64
 3   GOOGL   64 non-null     float64
 4   AMZN    64 non-null     float64
 5   NVDA    64 non-null     float64
 6   META    64 non-null     float64
dtypes: float64(6), object(1)
memory usage: 3.6+ KB

###### 7. Basic Data Exploration - Descriptive Statistics

In [9]:
# Display basic statistical details using the 'describe()' method
print("Descriptive statistics for numerical columns in the CSV data:")
display(csv_data.describe())

# The 'describe()' method shows:
# - Count: The number of non-null values
# - Mean: The average value
# - Standard deviation (std): How much the values deviate from the mean
# - Minimum, Maximum, and Quartiles (25%, 50%, 75%)
# This is useful for getting a quick understanding of the data distribution.

Descriptive statistics for numerical columns in the CSV data:

             AAPL        MSFT       GOOGL        AMZN        NVDA        META
count   64.000000   64.000000   64.000000   64.000000   64.000000   64.000000
mean   221.960938  429.022968  169.277969  182.530469  118.230156  509.970936
std      6.418134   19.494144   11.755695   10.395212    8.832080   24.964344
min    207.229996  395.149994  148.660004  161.020004   98.910004  453.410004
25%    218.170006  413.967506  161.067501  175.972504  112.107498  495.642502
50%    222.440002  425.034988  166.005005  182.840004  118.095001  512.720001
75%    226.495003  445.375008  181.699997  190.302498  125.895000  527.564987
max    234.820007  467.559998  191.179993  200.000000  134.910004  564.409973

###### 8. Checking for Missing Data

In [10]:
# Check for missing data in the DataFrame using 'isnull()' and 'sum()'
print("Checking for missing data in the CSV DataFrame:")
missing_data = csv_data.isnull().sum()
display(missing_data)

# This tells us how many missing (null) values there are in each column.
# If you find missing data, you can decide how to handle it (e.g., removing or filling it in).

Checking for missing data in the CSV DataFrame:

Date     0
AAPL     0
MSFT     0
GOOGL    0
AMZN     0
NVDA     0
META     0
dtype: int64

###### 9. Accessing Specific Columns and Rows

In [14]:
# Access a specific column using the column name
# For example, let's access a column named 'AAPL' 

# print("Displaying the first 5 entries of 'AAPL':")
# new_series = csv_data['AAPL']

# Access multiple columns by providing a list of column names
# print("Displaying the first 5 rows of 'AAPL' and 'MSFT':")
# new_var = csv_data[['Date','AAPL', 'MSFT']]

# Access specific rows using the 'iloc' method (index-based)
# Display the first 5 rows (index 0 to 4)
# print("Displaying rows 10 to 14 using 'iloc':")
# display(csv_data.iloc[10:15])

new_var = csv_data[['Date','AAPL', 'MSFT']].iloc[10:15]
new_var

          Date        AAPL        MSFT
10  2024-07-09  228.679993  459.540009
11  2024-07-10  232.979996  466.250000
12  2024-07-11  227.570007  454.700012
13  2024-07-12  230.539993  453.549988
14  2024-07-15  234.399994  453.959991

In [45]:
type(['Date','AAPL', 'MSFT'])

list

###### 10. Filtering Data Based on Conditions

In [47]:
# You can filter data based on specific conditions
# For example, let's filter rows where values in 'AAPL' are greater than a certain value (e.g., 220)

filtered_data = csv_data[csv_data['AAPL'] == 100000]
print("Rows where 'AAPL' is greater than 220:")
display(filtered_data.head())

# This shows how to select only the rows that meet a certain condition, which is useful for data analysis.

Rows where 'AAPL' is greater than 220:

Empty DataFrame
Columns: [Date, AAPL, MSFT, GOOGL, AMZN, NVDA, META]
Index: []

###### 11. Downloading Historical Stock Data from yFinance

In [51]:
# Define the ticker symbol for Apple Inc.
ticker_symbol = ['BTC-USD', "AAPL"]  # BTC is the ticker for Bitcoin price in US dollars.

# Define the start and end dates for the last 3 months
# For example, if today is September 23, 2024, then 3 months ago would be June 23, 2024
start_date = '2024-06-23'
end_date = '2024-09-23'

# Download the historical data for Apple using the start and end dates
btc_data = yf.download(ticker_symbol, start=start_date, end=end_date)

# Display the first few rows of the downloaded data
#print("BTC data from June 23, 2024 to September 23, 2024:")
#display(btc_data.head())

# Note: The data fetched will be in the form of a DataFrame with columns like
# 'Open', 'High', 'Low', 'Close', 'Adj Close', and 'Volume' for each trading day.

[*********************100%***********************]  2 of 2 completed

In [52]:
btc_data.head()

Price                       Adj Close                     Close                \
Ticker                           AAPL       BTC-USD        AAPL       BTC-USD
Date
2024-06-23 00:00:00+00:00         NaN  63180.796875         NaN  63180.796875
2024-06-24 00:00:00+00:00  207.899353  60277.414062  208.139999  60277.414062
2024-06-25 00:00:00+00:00  208.828293  61804.640625  209.070007  61804.640625
2024-06-26 00:00:00+00:00  213.003448  60811.277344  213.250000  60811.277344
2024-06-27 00:00:00+00:00  213.852478  61604.800781  214.100006  61604.800781

Price                            High                       Low                \
Ticker                           AAPL       BTC-USD        AAPL       BTC-USD
Date
2024-06-23 00:00:00+00:00         NaN  64491.703125         NaN  63180.796875
2024-06-24 00:00:00+00:00  212.699997  63292.527344  206.589996  58601.699219
2024-06-25 00:00:00+00:00  211.380005  62258.261719  208.610001  60239.750000
2024-06-26 00:00:00+00:00  214.860001  62434.136719  210.639999  60695.187500
2024-06-27 00:00:00+00:00  215.740005  62293.863281  212.350006  60585.332031

Price                            Open                    Volume
Ticker                           AAPL       BTC-USD        AAPL      BTC-USD
Date
2024-06-23 00:00:00+00:00         NaN  64248.964844         NaN  11170471802
2024-06-24 00:00:00+00:00  207.720001  63173.351562  80727000.0  43152133651
2024-06-25 00:00:00+00:00  209.149994  60266.281250  56713900.0  29201215431
2024-06-26 00:00:00+00:00  211.500000  61789.675781  66213200.0  22506003064
2024-06-27 00:00:00+00:00  214.690002  60811.226562  49772700.0  21231745045

In [53]:
btc_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 92 entries, 2024-06-23 00:00:00+00:00 to 2024-09-22 00:00:00+00:00
Freq: D
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   (Adj Close, AAPL)     63 non-null     float64
 1   (Adj Close, BTC-USD)  92 non-null     float64
 2   (Close, AAPL)         63 non-null     float64
 3   (Close, BTC-USD)      92 non-null     float64
 4   (High, AAPL)          63 non-null     float64
 5   (High, BTC-USD)       92 non-null     float64
 6   (Low, AAPL)           63 non-null     float64
 7   (Low, BTC-USD)        92 non-null     float64
 8   (Open, AAPL)          63 non-null     float64
 9   (Open, BTC-USD)       92 non-null     float64
 10  (Volume, AAPL)        63 non-null     float64
 11  (Volume, BTC-USD)     92 non-null     int64
dtypes: float64(11), int64(1)
memory usage: 9.3 KB